body {
    background-color: #ffe5ec;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header, footer {
    background-color: #ff8fab;
    color: white;
    padding: 20px;
    margin: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #590d22;
    font-weight: bold;
}

nav ul li a:hover {
    color: #fb6f92;
}

main {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}

.content {
    background-color: white;
    text-align: left;
    width: 70%;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}

.sidebar {
    background-color: #ff5c8a;
    width: 30%;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}

.sidebar:hover {
    background-color: #ffc2d1;
}

input[type="text"]:focus {
    width: 200px;
}